{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<Azure Storage Connection String>",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "COSMOS_ENDPOINT": "<Your Cosmos DB Endpoint>",
    "COSMOS_KEY": "<Your Cosmos DB Primary Key>",
    "COSMOS_DATABASE": "AgroMonitorDb",
    "COSMOS_CONTAINER": "Jobs",
    "STAC_API_URL": "https://planetarycomputer.microsoft.com/api/stac/v1"
  }
}
